
/* comment.module.css */

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #00000041;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  overflow: hidden;
}
