
/* .teams{
    background-color: aliceblue;
} */

.teams .teamHdr{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
}

.teamHdr span{
color: gold;
border-radius: 10rem;
box-shadow: 0 .3rem .3rem .3rem rgba(255, 217, 0, 0.717);background: none;
}

.teamCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.member{
    width: 14rem;
    background: rgba(0, 0, 0, 0.863);
    margin: .5rem;
    border-radius: .6rem;
    text-align: center;
    padding: .5rem;
    transition: all 1s ease-in-out;
}
.member:hover{
    transform: scale(1.1);
  background-color: rgba(1, 28, 43, 0.164)
}

.member img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 3px solid #079ac7;
    transform: scale(.8);
}

.member h3{
    font-size: 1rem;
}

.member p{
    font-size: .8rem;
    color: rgb(255, 1, 196);
    font-stretch: ultra-condensed;

}

.teamLink{
    font-size: 1.2rem;
    margin: 1rem;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}


