.contact .cntcHdr{
    font-size: 1.3rem;
    font-weight: bold;
    font-family:monospace;
    margin: 1rem;
    padding: 1rem;
}

.cntcHdr span{
color: gold;
border-radius: 10rem;
box-shadow: 0 .3rem .3rem .3rem rgba(255, 217, 0, 0.717);background: none;
}

.myDetail{
    display: flex;
    justify-content: center;
    gap: 0;align-items: center;
}

.adres, .phone{
    padding: .2rem;
}

.adres{
    font-size: .9rem;
}
.phone p{
    font-size: .9rem;
}


.contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.contact form input{
    width: 83%;
    height: 3rem;
    margin: .3rem;
    border: none;
    border-bottom: 1px solid rgba(225, 219, 212, 0.501);
    background: none;
    font-size: 1rem;
    font-family: monospace;
    color: #8ffafa;
 }.contact form input:focus{
     outline: none;
     border-bottom: 1px solid aqua;
 }

#message{
    width: 83%;
    height: 18rem;
    margin: .5rem;
    border: none;
    border-bottom: 1px solid rgba(225, 219, 212, 0.501);
    background: none;
    resize: none; 
    font-size: 1.1rem;
    font-family: monospace;
    color: #8ffafa;
}#message:focus{
    outline: none;
    border-bottom: 1px solid aqua;
}



.Fbtn button{
    border: none;
    background-color: dodgerblue;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}
.Fbtn button:hover{
    background-color: rgb(255, 255, 255);
}
.Fbtn{
    padding: 1rem;
}

@media screen and (max-width:600px) {
    .myDetail{
        flex-direction: column;
    }
    
}
